body {
  overflow-x: hidden;
  z-index: -5; /* Hide horizontal scrollbar */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
  position: absolute;
  z-index: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00aff5ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8c100;
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
