:root {
    --text-color: #333;
    --background-color: #f5f8ff;
    --button-bg: #00b8f5;
    --button-color: #fff;
    --section-background-color: #ffffff;
    --navigation-bg-color: #ffffff;
    --button-stroke-bg: #000000;
    --addNew-bg: #ffffff;
    --navborder-color: #895bf5;
    --textColor: #3333;
    
}
.dark-mode {
    --text-color: #fff;
    --background-color: #1c1c1c;
    --button-bg: #444;
    --section-background-color: #242424;
    --navigation-bg-color: #1c1c1c;
    --button-stroke-bg: #ffffff;
    --addNew-bg: #222;
    --navborder-color: #ece8f3;
    --textColor: #3ecf8d;

  
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.logo{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.logoname{
    font-family: "poppins";
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: var(--text-color);

    font-weight: 400;
    padding: 5px;
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3{
    font-family: "poppins";
    font-weight: 300;
}

button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: right
    ;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #b7c7bf;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: var(--navigation-bg-color);
    padding: 10px 20px;
    box-shadow: 0px 0.3px 0.1px var(--navborder-color);
    z-index: 1000;
    justify-content: space-between;
    
  

}

nav ul {
    justify-content: space-between;
    display: flex;
     /* Distribute items evenly */
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    margin-right: 10px; /* Adjust spacing between items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin for the last item */
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    width: 90%;
    height: max-content;
    margin: 15px auto;
  
    background-color: var(--section-background-color); /* Updated to use variable */
    border-radius: 20px;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0px 1px 3px #95dded;
    z-index: 1000;
    margin-bottom: 100px;
}

section h1 {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    color: var(--text-color);
    justify-content: center;
}

.div1 ul li {
    display: flex;
    
}

section ul li.search-bar input[type="text"] {
    border-radius: 5px;
    background-color: var(--background-color);
    border-color: var(--);
    text-decoration: none;
    list-style-type: none;
    width: auto;
    padding:5px;
    margin-left: -40px;
    color: var(--text-color);
    
    
}

section ul li.sort-by select {
    border-radius: 5px;
    background-color: var(--background-color);
    border-color: var(--button-stroke-bg);
    text-decoration: none;
    list-style-type: none;
    width: auto;
    padding:5px;
    margin-left: 5px;
    color: var(--text-color);
}

section ul {
    display: flex; /* Use flexbox for the children */
    justify-content: space-between; /* Space items evenly along the main axis */
    align-items: center;
}

#applyDate{color: #3ecf8d;}

table {
    width: 100%;
    margin-top: 15px;
    border: 2px solid #596470;
    border-collapse: collapse;
    padding: 3px;
}

th {
    border: 1px solid #3ecf8d;
    color: white;
    background-color: #3ecf8d;
    padding: 5px;
    
}
tr {
    border-collapse: collapse;
    
    border: 1px solid #406372;
    text-align: center;
    font-family: poppins;
    background-color: var(--background-color);
    margin-bottom: 5px;
    

}
td {
    border: 1px solid #406372;
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
tr:hover{
    border: 2px solid #000000;
    color:var(--text-color);
    background-color: var(--section-background-color);
    border-color: var(--text-color);
}

#addNew{
    background-color:var(--addNew-bg);
    border-color: var(--button-stroke-bg);
    color: var(--text-color);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition-duration: 0.5s;
    box-shadow: 3px 2px 2px #3ecf8d;
    

}
#addNew:hover{
    box-shadow: 3px 2px 2px #000000;
   
}


.material-symbols-outlined{
    color: #3ecf8d;
    cursor: pointer;
    padding: 5px;
}
#save{
    background-color: #3ecf8d;
}
.close-button{
    background-color: #3ecf8d;
}
.close-button:hover{
    background-color: #111212;
}