   /* Styles for the form container */
   .formSection {
    width: 80%;
    margin: 0 auto;
    display: none;
 
}

/* Styles for form elements */
label {
    display: inline-block;
    width: 45%; /* Adjust as needed */
    margin-bottom: 5px;
}
h3{
    text-align: center;
}
input[type="text"],
input[type="date"],
input[type="url"],
textarea,
select {
    
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    color: var(--text-color);
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block; /* Display input elements on the same line */
    
    width: 50%;/* Adjust as needed */
    vertical-align: top; /* Align inputs with labels */
}


button {
    background-color: #0bd4f3;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #5da9e3;
}

/* Clearfix for floating elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.radio-container {
    margin-top: 10px;
  }
  
  .radio-container input[type="radio"] {
    display: none; /* Hide the default radio buttons */
  }
  
  .radio-container label {
    display: inline-block;
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .radio-container label:hover {
    background-color: #041f51; /* Change background color on hover */
  }
  
  /* Style for checked radio button */
  .radio-container input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  /* color changing */
  .on-campus {
    background-color: #c3e6cb; /* Light green background color */
    color: #155724; /* Dark green text color */
}